/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.smart-links-setting-section .settings-delete-btn {
    color: red;
}
.smart-links-setting-section .smart-links-setting-error {
    color: red;
    border-color: red;
}
.markdown-source-view:not(.is-live-preview) .smart-link {
    display: none;
}
